@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}

.archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
