@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
/* * {
  font-family: 'Comfortaa', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
} */